
<div class="row">
  <% @posts.each do |post| %>
    <div class="postBlock col-md-3">
    <a href=/posts/<%= post.id%>>
    	<img class="post_icon" src=<%= post.main_image%>>
    	</a>
    	<h3><%= post.title%></h3>
    	<p><%= post.description[0..200] %></p>
    </div>
  <% end %>
</div>