<div newPostWrapper>
	<%= form_for @post, :url => '/posts', :method => 'post' do |f| %>
	<div class="row">
	  <%= f.text_field :title %>
	</div>
	<div class="row">
	  <%= f.text_area :description %>
	</div>
	  <%= f.submit %>
	<% end %>
</div>