<!DOCTYPE html>
<html>
<head>
  <title>WorldAdventures</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="naviHeader">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
          <div class="collapse navbar-collapse navHeaderCollapse">

            <div class="nav navbar-nav navbar-left">
              <li><a href="localhost:3000">Home</a></li>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <form role="form">
                <div class="form-group headerLogin row">
                    <div class="col-xs-4">
                      <li><input type="username" class="form-control" id="exampleInputEmail1" placeholder="Username"></li>
                    </div>

                    <div class="col-xs-4">
                      <li><input type="password" class="form-control" id="exampleInputEmail1" placeholder="Password"></li>
                    </div>

                    <div class = "col-xs-1">
                      <button type="button" class="btn btn-primary">Go!</button>
                    </div>

                    <div class = "col-xs-3">
                      <button type="button" class="btn btn-primary">Sign Up!</button>
                    </div>
                </div>
              </form>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
</body>
</html>
